<!-- search bar -->
<div class='container search-bar'>
  <div class='search-bar-outer'>
    <div class='search-bar-inner'>
      <form
        action='/search'
        class='d-flex justify-content-around align-items-center'
        name='searchForm'
      >

        <div class='search-bar'>
          <div class='input-group' style='min-width: 300px;'>
            <input
              type='text'
              name='keyword'
              value='{{keyword}}'
              class='form-control'
              placeholder='輸入餐廳、分類'
              aria-label='Restaurant Name...'
              value=''
              aria-describedby='search-button'
              onfocus='this.select()'
            />
            <div class='input-group-append'>
              <button class='btn btn-major' type='submit' id='search-button'><i
                  class='fas fa-search'
                ></i></button>
            </div>
          </div>
        </div>
        <div class='form-group mt-3'>
          <select
            class='form-control'
            name='sortby'
            id='sortby'
            onchange='this.form.submit()'
          >
            <option>Sort</option>
            <option value='1'{{#if sortBy.isNameAsec}} selected{{/if}}>A > Z</option>
            <option value='2'{{#if sortBy.isNameDsec}} selected{{/if}}>Z > A</option>
            <option value='3'{{#if sortBy.isCategory}} selected{{/if}}>類別</option>
            <option value='4'{{#if sortBy.isLocation}} selected{{/if}}>地區</option>
          </select>
        </div>
      </form>
      {{> message}}
    </div>

  </div>
</div>



<!-- restaurant list -->
<div class='container mt-5'>
  {{!-- {{#if noRestaurants}}
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">還沒有餐廳資料喔</h4>
      <p>快來新增第一筆吧!</p>
    </div>
  {{/if}} --}}
  
  <div class='row'>
    <div class='col-md-10 col-12 mx-auto'>
      <div class='card-columns mb-5'>
        {{#each restaurants}}

          <div class='card mb-3'>
            <a href='/restaurants/{{this._id}}' class='text-secondary'>
              <img
                class='card-img-top'
                src='{{this.image}}'
                alt='{{this.name}}'
              />
            </a>
            <div class='card-body p-3'>
              <h6 class='card-title mb-1'>{{this.name}}</h6>

              <div class='restaurant-category mb-1'>
                <i class='fas fa-utensils pr-2'></i>
                {{this.category}}
              </div>

              <span
                class='badge badge-pill badge-danger font-weight-normal mr-2'
              >
                {{this.rating}}
                <i class='fas fa-star fa-xs'></i>
              </span>

              <div class='d-flex justify-content-end mb-0'>
                <a
                  class='text-info mr-3'
                  href='./restaurants/{{this._id}}/edit'
                >
                  <i class='fa-regular fa-pen-to-square mr-0'></i>
                  Edit
                </a>
                <a class='text-info mr-2' href='./restaurants/{{this._id}}'>
                  <i class='fa-regular fa-file-lines mr-0'></i>
                  Detail
                </a>
                <form
                  class='mr-0'
                  action='./restaurants/{{this._id}}?_method=DELETE'
                  method='POST'
                  style='display: inline;'
                >
                  <button                   
                    type='sumbit'
                    class='btn btn-outline-danger btn-sm'
                    onclick='onDeleteClicked()'
                  >
                    <i class='fa-regular fa-trash-can'></i>
                  </button>
                </form>
              </div>

            </div>

          </div>

        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/main.js"></script>
